{% extends "layout.html" %}
{% block content %}
    <h4>Welcome to my Blog</h4>
    <p>The purpose of this blog is to discuss new markets, tech trends, and stock market action.   When posting ideas, I have no idea if any stocks that are discussed will go up, down or sideways.   Please do you own investment research.  This is not investment advice.<br><br>Please be advised I will have long or short positions in any stocks mentioned on this post and undertake no responsibility to update any models or posts.  Thank you. Andy</p>

{% endblock content %}


