{% extends "layout.html" %}
{% block content %}
    <h4>Welcome to my Blog</h4>
    <p>The purpose of this blog is to discuss new markets, tech trends, and stock market action.   When posting ideas, I have no idea if any stocks that are discussed will go up, down or sideways.   Please do you own investment research,this is not investment advice.<br><br>Please be advised I will have long or short positions in any stocks mentioned on this post and undetake no responsibility to update any models or posts.</p>
    <br><br>
    <p>Thanks and have a great day. Andy</p>
    <h3>Test 3</h3>
{% endblock content %}


