{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Pharetra diam sit amet nisl suscipit. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Enim
    nunc faucibus a pellentesque sit amet porttitor. Ac orci phasellus egestas tellus rutrum tellus pellentesque. In tellus
    integer feugiat scelerisque. Viverra justo nec ultrices dui sapien eget. Hendrerit gravida rutrum quisque non tellus.
    Adipiscing elit pellentesque habitant morbi tristique senectus. Commodo viverra maecenas accumsan lacus vel facilisis
    volutpat. Faucibus in ornare quam viverra orci sagittis. Morbi tristique senectus et netus et malesuada. Ut tellus
    elementum sagittis vitae.
    
    At urna condimentum mattis pellentesque id nibh tortor. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus.
    Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Mauris augue neque gravida in fermentum et
    sollicitudin ac. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. At augue eget arcu dictum varius.
    Eu consequat ac felis donec et odio. Facilisis gravida neque convallis a cras. Gravida arcu ac tortor dignissim. Mollis
    aliquam ut porttitor leo a diam. Dolor magna eget est lorem ipsum dolor sit amet.
    
    Sed id semper risus in hendrerit gravida rutrum. Pharetra et ultrices neque ornare aenean euismod. Sit amet tellus cras
    adipiscing. Dui id ornare arcu odio. Ornare arcu odio ut sem. Quam vulputate dignissim suspendisse in est ante in. Quis
    imperdiet massa tincidunt nunc pulvinar. Et ultrices neque ornare aenean euismod elementum. In hac habitasse platea
    dictumst. At augue eget arcu dictum varius duis at consectetur lorem.
    
    Consectetur libero id faucibus nisl tincidunt eget nullam non. Leo integer malesuada nunc vel risus commodo viverra
    maecenas. Est velit egestas dui id ornare arcu. A erat nam at lectus urna duis. Magna eget est lorem ipsum dolor.
    Condimentum id venenatis a condimentum vitae sapien pellentesque. Pulvinar etiam non quam lacus suspendisse faucibus.
    Neque aliquam vestibulum morbi blandit. Nulla facilisi morbi tempus iaculis. Massa placerat duis ultricies lacus sed
    turpis. Sed enim ut sem viverra aliquet eget sit. Lorem dolor sed viverra ipsum nunc. Morbi enim nunc faucibus a.
    Feugiat in ante metus dictum at.
    
    Consectetur libero id faucibus nisl tincidunt eget nullam. Lectus arcu bibendum at varius vel pharetra vel turpis. In
    hendrerit gravida rutrum quisque non tellus orci ac auctor. Dui nunc mattis enim ut. Amet massa vitae tortor condimentum
    lacinia. Natoque penatibus et magnis dis parturient montes. Suscipit tellus mauris a diam maecenas sed enim. Malesuada
    nunc vel risus commodo viverra maecenas accumsan lacus vel. Nec ullamcorper sit amet risus nullam eget. Aliquet
    porttitor lacus luctus accumsan tortor posuere ac ut. Malesuada bibendum arcu vitae elementum curabitur vitae nunc.
    Tincidunt lobortis feugiat vivamus at augue. Enim neque volutpat ac tincidunt vitae. Laoreet sit amet cursus sit amet
    dictum. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Diam phasellus vestibulum lorem sed risus
    ultricies tristique. Est sit amet facilisis magna etiam tempor orci eu lobortis. Parturient montes nascetur ridiculus
    mus mauris.</p>
{% endblock content %}
