{% extends "layout.html" %}
{% block content %}
    <h1>Admin Page</h1>
    <h2>Users</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Add Post</th>
                    <th>Update Post</th>
                    <th>Delete Post</th>
                    <th>User Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><input type="checkbox" name="can_add_post_{{ user.id }}" class="form-check-input" {% if user.can_add_post %}checked{% endif %}></td>
                        <td><input type="checkbox" name="can_update_post_{{ user.id }}" class="form-check-input" {% if user.can_update_post %}checked{% endif %}></td>
                        <td><input type="checkbox" name="can_delete_post_{{ user.id }}" class="form-check-input" {% if user.can_delete_post %}checked{% endif %}></td>
                        <td>
                            {% if current_user.is_admin %}
                                <!-- Delete User Form -->
                        
                                <form method="POST" action="{{ url_for('users.delete_user', user_id=user.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="button" class="btn btn-danger" style="padding: 0.25rem 0.5rem; font-size: 0.85rem; margin-top: 0" data-toggle="modal" data-target="#deleteModal{{ user.id }}">Delete</button>
                                    
                                    <!-- Delete Confirmation Modal -->
                                    <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ user.id }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel{{ user.id }}">Are you sure you want to delete it?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <p>You do not have permission to delete users.</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <h2>Posts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Attachments</th>
                <th>Post Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content | safe }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>
                        {% if post.files %}
                            <ul>
                                {% for file in post.files %}
                                    <li>
                                        <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">{{ file.filename }}</a>
                                        {% if current_user.is_admin %}
                                            <form method="POST" action="{{ url_for('posts.delete_file', post_id=post.id, file_id=file.id) }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-sm" style="padding: 0.25rem 0.5rem; font-size: 0.85rem;">Delete</button>
                                            </form>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No Files
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('posts.delete_post', post_id=post.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="button" class="btn btn-danger" style="padding: 0.25rem 0.5rem; font-size: 0.85rem; margin-top: 0" data-toggle="modal" data-target="#deleteModal{{ post.id }}">Delete</button>
                            
                            <!-- Delete Confirmation Modal -->
                            <div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ post.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ post.id }}">Are you sure you want to delete it?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}