{% extends "layout.html" %}
{% block content %}
{% for post in posts.items %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <div class="article-content">{{ post.content | safe }}</div>
            
            <!-- Display uploaded files -->
            {% for file in post.files %}
                {% if file.filename.endswith('.pdf') %}
                    <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Icon_pdf_file.svg/334px-Icon_pdf_file.svg.png?20211127155822" alt="PDF" class="img-fluid" style="max-width: 100px; height: auto;">
                    </a>
                {% elif file.filename.endswith('.xlsx') or file.filename.endswith('.xls') %}
                    <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg/640px-Microsoft_Office_Excel_%282019%E2%80%93present%29.svg.png" alt="EXCEL" class="img-fluid" style="max-width: 100px; height: auto;">
                    </a>
                    {% elif file.filename.endswith('.jpg') or file.filename.endswith('.jpeg') or file.filename.endswith('.png') or file.filename.endswith('.gif') %}
                    <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
                        <img src="{{ url_for('static', filename='uploads/' + file.filename) }}" alt="{{ file.filename }}" class="img-fluid" style="max-width: 100px; height: auto;">
                    </a>
                {% else %}
                    <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
                        {{ file.filename }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </article>
{% endfor %}

{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endblock content %}
