{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username}}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      {% if post.author == current_user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1"
            href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
            data-target="#deleteModal">Delete</button>
        </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <div class="article-content">{{ post.content | safe }}</div>

    {% for file in post.files %}
      {% if file.filename.endswith('.pdf') %}
        <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Icon_pdf_file.svg/334px-Icon_pdf_file.svg.png?20211127155822"
            alt="PDF" class="img-fluid" style="max-width: 100px; height: auto;">
        </a>
      {% elif file.filename.endswith('.xlsx') or file.filename.endswith('.xls') %}
        <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Microsoft_Office_Excel_%282019%E2%80%93present%29.svg/640px-Microsoft_Office_Excel_%282019%E2%80%93present%29.svg.png"
            alt="EXCEL" class="img-fluid" style="max-width: 100px; height: auto;">
        </a>
      {% elif file.filename.endswith('.jpg') or file.filename.endswith('.jpeg') or file.filename.endswith('.png') or
        file.filename.endswith('.gif') %}
        <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
          <img src="{{ url_for('static', filename='uploads/' + file.filename) }}" alt="{{ file.filename }}"
            class="img-fluid" style="max-width: 100px; height: auto;">
        </a>
      {% else %}
        <a href="{{ url_for('static', filename='uploads/' + file.filename) }}" target="_blank">
          {{ file.filename }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}